<main class="main">
  <h1>hello</h1>
  <form action="" method="get" class="form">
    <div class="form_group">

    <input type="text" class="form_control">
    <input type="submit" class="btn" value="Search Now">
    {{!-- <label for="search" class="label">Search</label> --}}
    </div>
  </form>
  <div class="display">
    
  </div>
</main>